@model RKC_IS.DataAccess.Model.AutoMapping.ROLE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZKRATKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZKRATKA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POPIS_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POPIS_ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAV_NASLEDUJICI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAV_NASLEDUJICI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_USER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SY_STAV.TABULKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SY_STAV.TABULKA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SY_STAV1.TABULKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SY_STAV1.TABULKA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
