@model RKC_IS.DataAccess.Model.AutoMapping.SY_STAV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SY_STAV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TABULKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TABULKA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_PLATI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_PLATI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BARVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BARVA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
